# Carvana - Classification Problem

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as mpl
%matplotlib inline 

import matplotlib.pyplot as plt
pd.pandas.set_option('display.max_columns', None)

In [14]:
df = pd.read_csv('carvana_mba.csv')
#df = df.sample(frac = 0.3, random_state = 13)

In [16]:
df.shape

(67270, 32)

In [17]:
df.head()

,RefId,IsBadBuy,PurchDate,Auction,VehYear,VehicleAge,Make,Model,Trim,SubModel,...,MMRCurrentAuctionAveragePrice,MMRCurrentAuctionCleanPrice,MMRCurrentRetailAveragePrice,MMRCurrentRetailCleanPrice,BYRNO,VNZIP1,VNST,VehBCost,IsOnlineSale,WarrantyCost
0,1,0,2009-12-07,ADESA,2006,3,MAZDA,MAZDA3,i,4D SEDAN I,...,7451,8552,11597,12409,21973,33619,FL,7100.0,0,1113
1,2,0,2009-12-07,ADESA,2004,5,DODGE,1500 RAM PICKUP 2WD,ST,QUAD CAB 4.7L SLT,...,7456,9222,11374,12791,19638,33619,FL,7600.0,0,1053
2,3,0,2009-12-07,ADESA,2005,4,DODGE,STRATUS V6,SXT,4D SEDAN SXT FFV,...,4035,5557,7146,8702,19638,33619,FL,4900.0,0,1389
3,4,0,2009-12-07,ADESA,2004,5,DODGE,NEON,SXT,4D SEDAN,...,1844,2646,4375,5518,19638,33619,FL,4100.0,0,630
4,5,0,2009-12-07,ADESA,2005,4,FORD,FOCUS,ZX3,2D COUPE ZX3,...,3247,4384,6739,7911,19638,33619,FL,4000.0,0,1020

In [19]:
df.describe()

,RefId,IsBadBuy,VehYear,VehicleAge,WheelTypeID,VehOdo,MMRAcquisitionAuctionAveragePrice,MMRAcquisitionAuctionCleanPrice,MMRAcquisitionRetailAveragePrice,MMRAcquisitonRetailCleanPrice,MMRCurrentAuctionAveragePrice,MMRCurrentAuctionCleanPrice,MMRCurrentRetailAveragePrice,MMRCurrentRetailCleanPrice,BYRNO,VNZIP1,VehBCost,IsOnlineSale,WarrantyCost
count,67270.000000,67270.000000,67270.000000,67270.000000,67270.000000,67270.000000,67270.000000,67270.000000,67270.000000,67270.000000,67270.000000,67270.000000,67270.000000,67270.000000,67270.000000,67270.000000,67270.000000,67270.000000,67270.000000
mean,36344.861290,0.095630,2005.352966,4.168485,1.493251,71727.835543,6164.700818,7414.887127,8542.039899,9899.771845,6168.741029,7431.972187,8820.813587,10192.698023,26454.859967,58255.647629,6755.693426,0.025033,1278.803196
std,20932.365698,0.294085,1.727841,1.707595,0.521212,14396.937346,2458.874187,2721.127550,3159.118697,3389.425324,2431.857758,2683.422636,3091.584354,3310.765402,25939.263304,26123.753189,1746.197418,0.156228,579.053723
min,1.000000,0.000000,2001.000000,0.000000,1.000000,5368.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,835.000000,2764.000000,1400.000000,0.000000,462.000000
25%,18272.250000,0.000000,2004.000000,3.000000,1.000000,62149.000000,4311.000000,5457.000000,6319.000000,7528.250000,4311.000000,5469.000000,6565.000000,7825.000000,17212.000000,32124.000000,5470.000000,0.000000,853.000000
50%,36386.500000,0.000000,2005.000000,4.000000,1.000000,73527.500000,6163.000000,7381.000000,8498.000000,9870.000000,6130.000000,7390.000000,8811.000000,10177.000000,19662.000000,74135.000000,6750.000000,0.000000,1169.000000
75%,54241.750000,0.000000,2007.000000,5.000000,2.000000,82529.750000,7807.750000,9050.000000,10711.750000,12156.000000,7777.000000,9045.000000,10975.000000,12376.000000,22808.000000,80022.000000,7915.000000,0.000000,1623.000000
max,73014.000000,1.000000,2010.000000,9.000000,3.000000,115717.000000,35722.000000,36859.000000,39080.000000,40308.000000,35722.000000,36859.000000,39080.000000,40308.000000,99761.000000,99224.000000,35900.000000,1.000000,7498.000000

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67270 entries, 0 to 67269
Data columns (total 32 columns):
RefId                                67270 non-null int64
IsBadBuy                             67270 non-null int64
PurchDate                            67270 non-null object
Auction                              67270 non-null object
VehYear                              67270 non-null int64
VehicleAge                           67270 non-null int64
Make                                 67270 non-null object
Model                                67270 non-null object
Trim                                 67270 non-null object
SubModel                             67270 non-null object
Color                                67270 non-null object
Transmission                         67270 non-null object
WheelTypeID                          67270 non-null int64
WheelType                            67270 non-null object
VehOdo                               67270 non-null int64
Nationality                          67270 non-null object
Size                                 67270 non-null object
TopThreeAmericanName                 67270 non-null object
MMRAcquisitionAuctionAveragePrice    67270 non-null int64
MMRAcquisitionAuctionCleanPrice      67270 non-null int64
MMRAcquisitionRetailAveragePrice     67270 non-null int64
MMRAcquisitonRetailCleanPrice        67270 non-null int64
MMRCurrentAuctionAveragePrice        67270 non-null int64
MMRCurrentAuctionCleanPrice          67270 non-null int64
MMRCurrentRetailAveragePrice         67270 non-null int64
MMRCurrentRetailCleanPrice           67270 non-null int64
BYRNO                                67270 non-null int64
VNZIP1                               67270 non-null int64
VNST                                 67270 non-null object
VehBCost                             67270 non-null float64
IsOnlineSale                         67270 non-null int64
WarrantyCost                         67270 non-null int64
dtypes: float64(1), int64(18), object(13)
memory usage: 16.4+ MB

In [24]:
# Check for null values --> None found
df.isnull().sum()

RefId                                0
IsBadBuy                             0
PurchDate                            0
Auction                              0
VehYear                              0
VehicleAge                           0
Make                                 0
Model                                0
Trim                                 0
SubModel                             0
Color                                0
Transmission                         0
WheelTypeID                          0
WheelType                            0
VehOdo                               0
Nationality                          0
Size                                 0
TopThreeAmericanName                 0
MMRAcquisitionAuctionAveragePrice    0
MMRAcquisitionAuctionCleanPrice      0
MMRAcquisitionRetailAveragePrice     0
MMRAcquisitonRetailCleanPrice        0
MMRCurrentAuctionAveragePrice        0
MMRCurrentAuctionCleanPrice          0
MMRCurrentRetailAveragePrice         0
MMRCurrentRetailCleanPrice           0
BYRNO                                0
VNZIP1                               0
VNST                                 0
VehBCost                             0
IsOnlineSale                         0
WarrantyCost                         0
dtype: int64

# Visualizations

In [33]:
cols = df.columns.array

In [69]:
df[cols[0]].dtype =='int64'

True

In [88]:
num_vars = []
cat_vars = []

for x in cols:
    if df[x].dtype == 'int64':
        num_vars.append(x)
    elif df[x].dtype == 'float64':
        num_vars.append(x)
    else:
        cat_vars.append(x)

In [89]:
num_vars

['RefId',
 'IsBadBuy',
 'VehYear',
 'VehicleAge',
 'WheelTypeID',
 'VehOdo',
 'MMRAcquisitionAuctionAveragePrice',
 'MMRAcquisitionAuctionCleanPrice',
 'MMRAcquisitionRetailAveragePrice',
 'MMRAcquisitonRetailCleanPrice',
 'MMRCurrentAuctionAveragePrice',
 'MMRCurrentAuctionCleanPrice',
 'MMRCurrentRetailAveragePrice',
 'MMRCurrentRetailCleanPrice',
 'BYRNO',
 'VNZIP1',
 'VehBCost',
 'IsOnlineSale',
 'WarrantyCost']

In [98]:
num_vars.remove('VehBCost')

In [99]:
num_vars

['RefId',
 'IsBadBuy',
 'VehYear',
 'VehicleAge',
 'WheelTypeID',
 'VehOdo',
 'MMRAcquisitionAuctionAveragePrice',
 'MMRAcquisitionAuctionCleanPrice',
 'MMRAcquisitionRetailAveragePrice',
 'MMRAcquisitonRetailCleanPrice',
 'MMRCurrentAuctionAveragePrice',
 'MMRCurrentAuctionCleanPrice',
 'MMRCurrentRetailAveragePrice',
 'MMRCurrentRetailCleanPrice',
 'BYRNO',
 'VNZIP1',
 'IsOnlineSale',
 'WarrantyCost']

In [ ]:
for col in num_vars:
    sns.boxplot(x = col, y = 'VehBCost', data = df)

In [ ]:
cat_vars